@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./root.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;

    text-decoration: none;
}

.font-Saira {
    font-family: "Saira", sans-serif;
}

.font-Quicksand {
    font-family: "Quicksand", sans-serif;
}

.font-Poppins {
    font-family: "Poppins", sans-serif;

}

.font-Inter {
    font-family: "Inter", sans-serif;
}

.font-Oxanium {
    font-family: "Oxanium", sans-serif;
}

/* --------------------------------------------padding */
.pt-6 {
    padding-top: 6px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-11 {
    padding-top: 11px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-28 {
    padding-top: 28px;
}

.pb-28 {
    padding-bottom: 28px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pt-13 {
    padding-top: 13px;
}

.pt-18 {
    padding-top: 18px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-24 {
    padding-top: 24px !important;
}

.pt-60 {
    padding-top: 60px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-35 {
    padding-top: 35px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pt-28 {
    padding-top: 28px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-21 {
    padding-bottom: 21px;
}

.pt-40 {
    padding-top: 40px;
}

.pr-10 {
    padding-right: 10px !important;
}

/* --------------------------------------------padding */
/* --------------------------------------------gap */
.gap-7 {
    gap: 7px;
}

.gap-12 {
    gap: 12px;
}

.gap-13 {
    gap: 13px;
}

.gap-14 {
    gap: 14px;
}

.gap-19 {
    gap: 19px;
}

.gap-23 {
    gap: 23px;
}

.gap-24 {
    gap: 24px !important;
}

.gap-28 {
    gap: 28px;
}

.gap-44 {
    gap: 44px;
}

.gap-89 {
    gap: 89px;
}

/* --------------------------------------------gap */
/* --------------------------------------------margin */
.mt-21 {
    margin-top: 21px;
}

.mt-24 {
    margin-top: 24px;
}

/* --------------------------------------------margin */
/* --------------------------------------------width */
.max-w-204 {
    max-width: 204px;
}

.max-w-258 {
    max-width: 258px !important;
}

/* --------------------------------------------width*/
/* --------------------------------------------dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: var(--black);
    width: 100%;
    border-radius: 8px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    padding: 8px;
    color: var(--white);
    transition: all 200ms linear;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--black);
    background: var(--white);
}

.show {
    display: block;
}

.dropbtn {
    background: var(--gray-200) !important;
    padding: 7px 16px 7px 23px;
    border-radius: 8px;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background: var(--black);
    width: 100%;
    border-radius: 8px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content2 a {
    padding: 8px;
    color: var(--white);
    transition: all 200ms linear;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    color: var(--black);
    background: var(--white);
}

.show2 {
    display: block;
}

/* --------------------------------------------dropdown */
/* --------------------------------------------btn */
.btn-1 {
    padding: 13px 22px 12px;
    border: 1px solid var(--white);
    border-radius: 8px;
}

.btn-1:hover {
    background: var(--white) !important;
    color: var(--black) !important;
}

.btn-2 {
    border-radius: 8px;
    transition: all 300ms linear;
    background: linear-gradient(65.58deg, var(--blue) -11.84%, var(--red) 98.75%);
}
.btn-2:hover{
    background: linear-gradient(65.58deg, var(--red) -11.84%,  var(--blue) 98.75%);
    box-shadow: 0px 2px 12px 2px var(--red);

}

/* --------------------------------------------btn */
.duration-300 {
    transition: all 300ms linear;
}

.sidbar.active {
    left: 0;
}

.sidbar {
    left: 0;
    background: var(--black);
    padding: 24px 12px 24px 24px;
}

.sidbar-tab {
    padding: 13px 18px 16px;
    border-radius: 16px;
    cursor: pointer;
}

.sidbar-tab:hover h6 {
    color: var(--white);
}

.sidbar-tab:hover {
    background-image: linear-gradient(65.58deg, var(--blue) -11.84%, var(--red) 98.75%);
}

.bg-img {
    background-image: url(../images/webp/Dashboard.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.navBar {
    background-color: var(--black);
    padding: 25px 27px 26px 29px;
}

.input-box {
    border-radius: 8px;
    background: var(--black-100);
    max-width: 288px;
    padding: 14px 23px 14px 23px;
}

.outline-none {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

.box {
    border-radius: 8px;
    padding: 0 10px 19px 0;
    background: linear-gradient(65.58deg, var(--blue) -11.84%, var(--red) 98.75%);
}

.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1.7px;
    background: linear-gradient(270deg, var(--red-100), var(--blue-100));
    -webkit-mask:
        linear-gradient(var(--white) 0 0) content-box,
        linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.slick-slide {
    margin: 0 13px;
}

.slick-list {
    margin: 0 -13px;
}

.slider-btn {
    width: 36px;
    height: 36px;
    border-radius: 12px;
    border: 1px solid var(--gray-200);
}

.slider-btn:hover {
    background: var(--gray-200) !important;
}

.slider-btn svg path {
    transition: all 300ms linear;
}

.slider-btn:hover svg path {
    fill: var(--white);
}

/* --------------------------------------------card */
.mycard {
    padding: 29px 25px 21px;
    border-radius: 8px;
}

.border-gradient::before {
    content: "";
    position: absolute;
    z-index: -1 !important;
    inset: 0;
    border-radius: 8px;
    padding: 1.7px;
    background: linear-gradient(120deg, var(--red-100), var(--blue-100), var(--blue-300), var(--gray-100), var(--black));
    -webkit-mask:
        linear-gradient(var(--white) 0 0) content-box,
        linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

/* --------------------------------------------card */
.card-2 {
    padding: 16px 16px 12px;
    border-radius: 8px;
    box-shadow: 6.96px 10.44px 43.52px 0px var(--black-300);
}

.card-3 {
    padding: 20px 13px 21px 12px;
    border-radius: 8px;
    box-shadow: 6.96px 10.44px 43.52px 0px var(--black-300);
}

.bottom-border {
    border-bottom: 0.8px solid var(--gray);
}

.accordion-button:not(.collapsed) {
    color: var(--gray-300) !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button::after{
    content: none !important;
}
/* ---------------------------toggle-btn */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-400);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 9.8px;
    width: 9.8px;
    left: 3px;
    bottom: 3px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--blue-200);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ---------------------------toggle-btn */
/* ---------------------------search-bar */
.highlight {
    background-color: var(--yellow) !important;
}

/* ---------------------------search-bar */
/* ----------------------------navbar */
.bar {
    width: 30px;
    height: 3px;
}

/* ----------------------------navbar */
@media (max-width:574.98px) {
    .input-box {
        max-width: 200px !important;
    }

    .sidbar {
        left: -100%;
        width: 100%;
        position: absolute;
        top: 0;
        height: 100vh;
        z-index: 3;
    }

    .navmenu {
        z-index: 9;
    }

    .navBar {
        padding: 20px 14px;
    }

    .navmenu.active .bar1 {
        transform: translateY(10px) rotate(45deg);
    }

    .navmenu.active .bar2 {
        opacity: 0;
        transform: translateX(-8px);
    }

    .navmenu.active .bar3 {
        transform: translateY(-10px) rotate(-45deg);
    }

    .sidbar {
        padding: 30px 20px 0px !important;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url('../images/svg/down.svg') !important;
        transform: rotate(0deg) !important;
        content: '' !important;
    }

    .accordion-button::after {
        background-image: url('../images/svg/down.svg') !important;
        transform: rotate(180deg) !important;
        content: '' !important;
    }
}

@media (min-width:575px) {
    .pl-sm-100 {
        padding-left: 100px !important;
    }

    .sidbar {
        max-width: 100px;
    }
}

@media (max-width:767.98px) {
    .box {
        padding: 0 12px 12px;
    }
}

@media (min-width:992px) {
    .sidbar {
        max-width: 256px !important;
    }

    .pl-lg-256 {
        padding-left: 256px !important;
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url('../images/svg/down.svg') !important;
        transform: rotate(0deg) !important;
        content: '' !important;
    }

    .accordion-button::after {
        background-image: url('../images/svg/down.svg') !important;
        transform: rotate(180deg) !important;
        content: '' !important;

    }
}

@media (max-width:1199.98px) {
    .card-2 {
        height: 100% !important;
    }

    .card-3 {
        height: 100% !important;
    }
}

@media (min-width:1200px) {
    .pt-xl-80 {
        padding-top: 80px !important;
    }

    .pt-xl-39 {
        padding-top: 39px !important;
    }

    .max-w-xl-782 {
        max-width: 782px !important;
    }

    .pl-xl-27 {
        padding-left: 27px !important;
    }

    .card-2 {
        height: 409px !important;
    }

    .card-3 {
        height: 375px !important;
    }
}

@media (min-width:1400px) {
    .first-img {
        position: absolute;
        transform: translate(-40px, 20px);
        max-width: 438.16px;
        height: 397.58px;
    }

    .pt-2xl-117 {
        padding-top: 117px !important;
    }
}

