@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@import url(./root.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.font-Saira{
    font-family: "Saira", sans-serif;
}
.font-Quicksand{
    font-family: "Quicksand", sans-serif;
}
.font-Poppins{
    font-family: "Poppins", sans-serif;

}
.font-Inter{
    font-family: "Inter", sans-serif;
}
.font-Oxanium{
    font-family: "Oxanium", sans-serif;
}

/* --------------------------------------------padding */
.pt-6{
    padding-top: 6px;
}
.pt-10{
    padding-top: 10px;
}
.pt-11{
    padding-top: 11px;
}
.pb-16{
    padding-bottom: 16px;
}
.pt-12{
    padding-top: 12px;
}
.pt-25{
    padding-top: 25px;

} 
.pt-28{
    padding-top: 28px;

} 
.pb-28{
    padding-bottom: 28px;

}
.pb-35{
    padding-bottom: 35px;

}
.pt-13{
    padding-top: 13px;
}
.pt-18{
    padding-top: 18px;
}
.pt-20{
    padding-top: 20px;
}
.pt-24{
    padding-top: 24px !important;
}
.pt-25{
    padding-top: 25px;
}
.pt-35 {
    padding-top: 35px;
}
.pt-39{
    padding-top: 39px;
}
.pb-24{
    padding-bottom: 24px;
}
.pt-28{
    padding-top: 28px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-21{
    padding-bottom: 21px;
}
.pt-40{
    padding-top: 40px;
}
.pr-10{
    padding-right: 10px !important;
}
.pt-117{
    padding-top: 117px;
}
.pl-256{
    padding-left: 256px;
}
/* --------------------------------------------padding */
/* --------------------------------------------gap */
.gap-7{
    gap: 7px;
}
.gap-13{
    gap: 13px;
}
.gap-14{
    gap: 14px;
}
.gap-19{
    gap: 19px;
}
.gap-23{
    gap: 23px;
}
.gap-44{
    gap: 44px;
}
/* --------------------------------------------gap */
/* --------------------------------------------margin */
.mt-21{
    margin-top: 21px;
}
.mt-24{
    margin-top: 24px;
}
/* --------------------------------------------margin */
/* --------------------------------------------width */
.max-w-204{
    max-width: 204px;
}
.max-w-258{
    max-width: 258px !important;
}
.max-w-782{
    max-width: 782px !important;
}
/* --------------------------------------------width*/
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* -------------------------------------------- */
/* --------------------------------------------btn */
.btn-1{
    padding: 13px 22px 12px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.btn-1:hover{
    background: #FFFFFF !important;
    color: #000000 !important;    
}
.btn-2{
    border-radius: 8px;
    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);

}
/* --------------------------------------------btn */
.duration-300{
    transition: all 300ms linear;
    
}
.sidbar{
    max-width: 256px;
    background: var(--black);
    padding: 24px 12px 24px 24px;
}
.sidbar-tab{
    padding: 13px 18px 16px;
    border-radius: 16px;
    cursor: pointer;
    
}
.sidbar-tab:hover h6{    
    color: white;
}
.sidbar-tab:hover{
    background-image: linear-gradient(65.58deg, var(--blue) -11.84%, var(--red) 98.75%);    

}
.bg-img{
    background-image: url(../images/webp/Dashboard.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    
}
.navBar{
    background-color: var(--black);
    padding: 25px 27px 26px 29px;
}
.input-box{
    border-radius: 8px;
    background: #2A2A2A;
    max-width: 288px;
    padding: 14px 23px 14px 23px;
}
.outline-none{
    outline: none;
}
.cursor-pointer{
    cursor: pointer;
}
.box{
    border-radius: 8px; 
    
    padding: 0 10px 19px 0;

    background: linear-gradient(65.58deg, rgba(0, 66, 255, 0.5) -11.84%, rgba(235, 0, 27, 0.5) 98.75%);
}
.box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px; 
    padding: 1.7px; 
    background:linear-gradient(270deg, #822946 , #292AB8 ); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
            
  }

.first-img{
    position: absolute;
    transform: translate( -40px , 20px);
    max-width: 438.16px;
    height: 397.58px;
}

.slick-slide {
    margin: 0 13px;
}

/* the parent */
.slick-list {
    margin: 0 -13px;
}
.slider-btn{
    width: 36px;
    height: 36px;
    border-radius: 12px;
    border: 1px solid #545556;
}
.slider-btn:hover{
    background: #545556 !important;
}
.slider-btn svg path{
    transition: all 300ms linear;
}
.slider-btn:hover svg path{
    fill: white;
}



/* --------------------------------------------card */
.mycard{    
    padding: 29px 25px 21px;
    /* max-width: 242px; */
    border-radius: 8px; 


}

.border-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px; 
    padding: 1.7px; 
    background:linear-gradient(120deg,#822946 ,#292AB8E5  ,#6A69C2 ,#8A7B80D9 ,#000000 ); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
            
  }
/* --------------------------------------------card */
.card-2{
    padding: 16px 16px 12px;
    border-radius: 8px;
    box-shadow: 6.96px 10.44px 43.52px 0px #00000066;
    max-width: 395px;

}
.card-3{
    padding: 20px 13px 21px 12px;
    border-radius: 8px;
    max-width: 397px;
}
.bottom-border{
    border-bottom: 0.8px solid #A2A3A4;
}

.accordion-button:not(.collapsed) {
    color: #999999 !important;    
    box-shadow: none !important;
}
.accordion-button:focus {        
    box-shadow: none !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url('../images/svg/down.svg') !important;
    transform: rotate(180deg) !important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image:  url('../images/svg/down.svg') !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}